@import url(http://fonts.googleapis.com/css?family=Abel|Satisfy);
@import url(http://fonts.googleapis.com/css?family=Oswald:400,300);

/* ID_NO, Name and Surname */

body{
    text-align: center;
    font-family: Abel;
}
.subtitle{
    color: rgb(28, 149, 248);
    font-family: Oswald;
    text-transform: uppercase;
}
h2{
    font-family: Oswald;
    text-transform: uppercase;
    color: black;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
#header-wrapper{
    background-image: url("../../images/img04.jpg");
}
#logo a{
    text-transform: uppercase;
    color: white;
}
#logo p{
    color:rgb(230, 224, 224);
    position: relative;
    margin-top: -15px;
}
#menu-wrapper{
    background-image: url("../../images/img05.jpg");
    height: 90px;
    background-repeat: no-repeat;
    position: relative;
    left: 130px;
}
#menu-wrapper a{
        text-transform: uppercase;
        color: black;
}
#menu-wrapper a:hover{
    color: white;
    background-image: url("../../images/img01.jpg");
    padding-top: 20px;
    padding-bottom: 17px;
}
#menu-wrapper li{
    display: inline;
    padding: 15px 17px;
}
#menu-wrapper ul{
    position: relative;
    top: 20px;
    right: 140px;
}
#page-wrapper{
    background-image: url("../../images/img03.jpg");
}
#content{
    text-align: left;
    position: relative;
    left: 150px;
    top: -20px;
    color: gray;
    background-color: white;
    padding-left: 40px;
    width: 1160px;
    padding-bottom: 15px;
}
#content p:nth-of-type(3) a{
    text-decoration: underline;
    color: rgb(28, 149, 248);
} 
#content p:nth-of-type(2){
background-image: url("../../images/pics02.jpg");
width: 762px;
height: 150px;
}
#content p:nth-of-type(3)
{
    width: 52%;
}
.button-style{
    text-transform: uppercase;
    padding: 10px 15px;
    background-image: url("../../images/img06.jpg");
    width: 174px;
    height: 50px;
    background-repeat: no-repeat;
}
.button-style a{
    position: relative;
    color: white;
    left: 10px;
    top: 5px
}
#sidebar{
    position: relative;
    top: -550px;
    left: 1000px;
    width: 300px;
    text-align: left;
}
#sidebar ul{
    position: relative;
    left: -40px;
}
#sidebar a{
    color:gray;
}
#banner{
    position: relative;
    background-color: white;
    width: 1200px;
    left: 150px;
}
#onecolumn{
    position: relative;
    top: -490px;
    left: 150px;
    background-color: white;
    text-align: left;
    width: 1200px;
}
#onecolumn a{
    position: absolute;
    padding: 140px 125px;
    background-repeat: no-repeat;
    margin-left: 35px;
    background-image: url("../../images/pics03.jpg");
}
#onecolumn h2{
    position: relative;
    left: 310px;
    top:-10px;
}
#onecolumn p{
    position: relative;
    left: 310px;
    top: -25px;
    width: 73%;
}
#footer-content{
    display: flex;
    position: relative;
    top: -510px;
    width: 1200px;
    left: 150px;
    background-image: url("../../images/img09.jpg");
    text-align: left;
}
#footer-content div{
    flex: 1;
}
#box1 h2{
    position: relative;
    left: 32px;
}
#box1 ul{
    position: relative;
    left: -5px;
}
#box2 h2{
    position: relative;
    left: 32px;
}
#box2 ul{
    position: relative;
    left: -5px;
}
#box2 li{
    padding-bottom: 17px;
}
#box3 h2{
    position: relative;
    left: 32px;
}
#box3 ul{
    position: relative;
    left: -5px;
}
#box3 li{
    padding-bottom: 17px;
}
#copyright{
    position: relative;
    top: -530px;
    background-image: url("../../images/img01.jpg");
    height: 250px;
}
#copyright p{
    position: relative;
    top: 70px;
    color: white;
}
#copyright a{
    text-decoration: underline;
    color: white;
}